@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

:root{
    --black:#69665c;
    --yellow:#fff9de;
}

*{
    font-family: 'Ubuntu', sans-serif;
    color:var(--black);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* border: 1px solid mediumslateblue; */
}

body{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 10fr;
}

/* logo */

.logo-holder{
    align-self: center;
    padding-left: 0.5rem;
}

/* add button */

.add-holder{
    align-self: center;
    justify-self: right;
    padding-right: 1rem;
}

.add-btn{
    background-color: white;
    border: 0;
    outline: 0;
    font-size: 2rem;
    cursor: pointer;
}

/* tags side bar */

.tags-holder{
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    gap: 0.5rem;
}

ul.tags{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.tags input[type="radio"]{
    -webkit-appearance: none;
    appearance: none;
}

li:has([type="radio"]:checked){
    background-color: var(--yellow);
    border-radius: 0.5rem;
    padding: 0.2rem 1rem;
    width: fit-content;
}

#tag-name{
    border-radius: 0.5rem;
    padding: 0.2rem 1rem;
    border: 1px solid var(--black);
}

#add-tag{
    background-color: white;
    border: 0;
    font-size: 1.5rem;
    cursor: pointer;
}

/* container */

.container{
    padding: 1rem;    
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(300px, 1fr) );
    grid-auto-rows: 100px;
}

.container>*{
    background-color: var(--yellow);
    border: 1px solid var(--black);
    border-radius: 0.5rem;
    max-width: 500px;
    padding: 1rem;
}

form{
    position: absolute;
    display: none;
    flex-direction: column;
    left: 30%;
    background-color: white;
    border: 1px solid var(--black);
    padding: 1rem;
    gap: 0.5rem;
    border-radius: 0.5rem;
}

.show{
    display: flex;
}

.hide{
    display: none;
}